:root {
  --color-foreground: #eee;
  --color-background: #111;
  --font-primary: 'Open Sans', Helvetica, Arial, sans-serif;
  --font-accent: 'Oswald', Impact, Arial, sans-serif;
  --font-script: 'Neucha', cursive;
  --transition-timing: cubic-bezier(0.25, 0.8, 0.5, 1);
  --transition-default: all 0.2s var(--transition-timing);
}

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  min-height: 100vh;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: 16px;
  font-family: var(--font-primary);
  line-height: 1.4;
}

#__next {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  font-size: calc(1rem + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  animation: scale-fade 2s var(--transition-timing);
}

h1,
h2,
p {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 0;
}

h1,
h2 {
  line-height: 1.1;
}

p {
  max-width: 34ch;
  font-size: 1.15em;
  letter-spacing: 0.125rem;
}

.script {
  font-family: var(--font-script);
  text-transform: uppercase;
}

.script--float {
  white-space: nowrap;
}

h1 {
  margin-top: 0;
  font-size: 3.5em;
  font-weight: 400;
  font-family: var(--font-accent);
  text-transform: uppercase;
  white-space: nowrap;
}

h1 .script--float {
  position: absolute;
  right: 100%;
  bottom: 100%;
  font-size: 0.4em;
  transform: translate(40%, 40%) rotate(-25deg);
}

h2 {
  font-size: 2.5em;
  font-weight: 300;
  font-family: var(--font-primary);
  letter-spacing: 0.25rem;
}

h2 .script--float {
  position: absolute;
  left: 100%;
  bottom: 100%;
  font-size: 0.4em;
  transform: translate(-50%, 80%) rotate(20deg);
}

.intro .script--float {
  position: absolute;
  right: 100%;
  bottom: 100%;
  font-size: 0.8em;
  transform: translate(80%, 40%) rotate(-20deg);
}

.together {
  max-width: 26ch;
}

.together .script--float {
  position: absolute;
  left: 100%;
  bottom: 100%;
  font-size: 0.9em;
  transform: translate(-60%, 60%) rotate(20deg);
}

nav {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-gap: 0.5rem;
  margin-top: 3rem;
  font-size: 1em;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  width: 2.75em;
  height: 2.75em;
  padding: 0.6em;
  border-radius: 50%;
  transition: var(--transition-default);
  transform: scale(1);
  transform-style: preserve-3d;
  transform-origin: center;
}

nav a:hover,
nav a:focus {
  background-color: var(--color-foreground);
  color: var(--color-background);
  transform: scale(1.05);
}

nav a:active {
  transform: scale(0.95);
}

nav svg {
  width: 100%;
}

nav path {
  fill: currentColor;
  stroke: currentColor;
}

@keyframes scale-fade {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
