
body {
    padding: 50px;
	background: transparent url(http://gifsoup.com/webroot/animatedgifs3/3115666_o.gif) repeat left top;
}

table {
    background: red;
    margin: 0 auto;
    width: 800px;
}

h1 {
    font-size: 100px;
}