* {
	margin: 0; padding: 0;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}
.clear { clear: both; }
body {
  background: #ffffff;
  padding: 100px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  text-align: center;
}
.wrap {
	max-width: 600px;
	margin: 0 auto;
}
p {
	margin: 15px 0 0;
}

@-webkit-keyframes rotatex {
	0% {
		-webkit-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	100% {
		-webkit-transform: rotatex(360deg);
		transform: rotatex(360deg);
	}
}
@-moz-keyframes rotatex {
	0% {
		-moz-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	100% {
		-moz-transform: rotatex(360deg);
		transform: rotatex(360deg);
	}
}
@-ms-keyframes rotatex {
	0% {
		-ms-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	100% {
		-ms-transform: rotatex(360deg);
		transform: rotatex(360deg);
	}
}
@-o-keyframes rotatex {
	0% {
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	100% {
		-o-transform: rotatex(360deg);
		transform: rotatex(360deg);
	}
}
@keyframes rotatex {
	0% {
		-webkit-transform: rotatex(0deg);
		-moz-transform: rotatex(0deg);
		-ms-transform: rotatex(0deg);
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	100% {
		-webkit-transform: rotatex(360deg);
		-moz-transform: rotatex(360deg);
		-ms-transform: rotatex(360deg);
		-o-transform: rotatex(360deg);
		transform: rotatex(360deg);
	}
}
@-webkit-keyframes rotatey {
	0% {
		-webkit-transform: rotatey(0deg);
		transform: rotatey(0deg);
	}
	100% {
		-webkit-transform: rotatey(360deg);
		transform: rotatey(360deg);
	}
}
@-moz-keyframes rotatey {
	0% {
		-moz-transform: rotatey(0deg);
		transform: rotatey(0deg);
	}
	100% {
		-moz-transform: rotatey(360deg);
		transform: rotatey(360deg);
	}
}
@-ms-keyframes rotatey {
	0% {
		-ms-transform: rotatey(0deg);
		transform: rotatey(0deg);
	}
	100% {
		-ms-transform: rotatey(360deg);
		transform: rotatey(360deg);
	}
}
@-o-keyframes rotatey {
	0% {
		-o-transform: rotatey(0deg);
		transform: rotatey(0deg);
	}
	100% {
		-o-transform: rotatey(360deg);
		transform: rotatey(360deg);
	}
}
@keyframes rotatey {
	0% {
		-webkit-transform: rotatey(0deg);
		-moz-transform: rotatey(0deg);
		-ms-transform: rotatey(0deg);
		-o-transform: rotatey(0deg);
		transform: rotatey(0deg);
	}
	100% {
		-webkit-transform: rotatey(360deg);
		-moz-transform: rotatey(360deg);
		-ms-transform: rotatey(360deg);
		-o-transform: rotatey(360deg);
		transform: rotatey(360deg);
	}
}
@-webkit-keyframes rotatexy {
	0% {
		-webkit-transform: rotatex(0deg) rotatey(0deg);
		transform: rotatex(0deg) rotatey(0deg);
	}
	100% {
		-webkit-transform: rotatex(360deg) rotatey(360deg);
		transform: rotatex(360deg) rotatey(360deg);
	}
}
@-moz-keyframes rotatexy {
	0% {
		-moz-transform: rotatex(0deg) rotatey(0deg);
		transform: rotatex(0deg) rotatey(0deg);
	}
	100% {
		-moz-transform: rotatex(360deg) rotatey(360deg);
		transform: rotatex(360deg) rotatey(360deg);
	}
}
@-ms-keyframes rotatexy {
	0% {
		-ms-transform: rotatex(0deg) rotatey(0deg);
		transform: rotatex(0deg) rotatey(0deg);
	}
	100% {
		-ms-transform: rotatex(360deg) rotatey(360deg);
		transform: rotatex(360deg) rotatey(360deg);
	}
}
@-o-keyframes rotatexy {
	0% {
		-o-transform: rotatex(0deg) rotatey(0deg);
		transform: rotatex(0deg) rotatey(0deg);
	}
	100% {
		-o-transform: rotatex(360deg) rotatey(360deg);
		transform: rotatex(360deg) rotatey(360deg);
	}
}
@keyframes rotatexy {
	0% {
		-webkit-transform: rotatex(0deg) rotatey(0deg);
		-moz-transform: rotatex(0deg) rotatey(0deg);
		-ms-transform: rotatex(0deg) rotatey(0deg);
		-o-transform: rotatex(0deg) rotatey(0deg);
		transform: rotatex(0deg) rotatey(0deg);
	}
	100% {
		-webkit-transform: rotatex(360deg) rotatey(360deg);
		-moz-transform: rotatex(360deg) rotatey(360deg);
		-ms-transform: rotatex(360deg) rotatey(360deg);
		-o-transform: rotatex(360deg) rotatey(360deg);
		transform: rotatex(360deg) rotatey(360deg);
	}
}
@-webkit-keyframes run-left {
	0% {
		-webkit-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	25% {
		-webkit-transform: rotatex(-60deg);
		transform: rotatex(-60deg);
	}
	50% {
		-webkit-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	75% {
		-webkit-transform: rotatex(60deg);
		transform: rotatex(60deg);
	}
	100% {
		-webkit-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
}
@-moz-keyframes run-left {
	0% {
		-moz-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	25% {
		-moz-transform: rotatex(-60deg);
		transform: rotatex(-60deg);
	}
	50% {
		-moz-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	75% {
		-moz-transform: rotatex(60deg);
		transform: rotatex(60deg);
	}
	100% {
		-moz-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
}
@-ms-keyframes run-left {
	0% {
		-ms-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	25% {
		-ms-transform: rotatex(-60deg);
		transform: rotatex(-60deg);
	}
	50% {
		-ms-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	75% {
		-ms-transform: rotatex(60deg);
		transform: rotatex(60deg);
	}
	100% {
		-ms-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
}
@-o-keyframes run-left {
	0% {
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	25% {
		-o-transform: rotatex(-60deg);
		transform: rotatex(-60deg);
	}
	50% {
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	75% {
		-o-transform: rotatex(60deg);
		transform: rotatex(60deg);
	}
	100% {
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
}
@keyframes run-left {
	0% {
		-webkit-transform: rotatex(0deg);
		-moz-transform: rotatex(0deg);
		-ms-transform: rotatex(0deg);
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	25% {
		-webkit-transform: rotatex(-60deg);
		-moz-transform: rotatex(-60deg);
		-ms-transform: rotatex(-60deg);
		-o-transform: rotatex(-60deg);
		transform: rotatex(-60deg);
	}
	50% {
		-webkit-transform: rotatex(0deg);
		-moz-transform: rotatex(0deg);
		-ms-transform: rotatex(0deg);
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	75% {
		-webkit-transform: rotatex(60deg);
		-moz-transform: rotatex(60deg);
		-ms-transform: rotatex(60deg);
		-o-transform: rotatex(60deg);
		transform: rotatex(60deg);
	}
	100% {
		-webkit-transform: rotatex(0deg);
		-moz-transform: rotatex(0deg);
		-ms-transform: rotatex(0deg);
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
}
@-webkit-keyframes run-right {
	0% {
		-webkit-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	25% {
		-webkit-transform: rotatex(60deg);
		transform: rotatex(60deg);
	}
	50% {
		-webkit-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	75% {
		-webkit-transform: rotatex(-60deg);
		transform: rotatex(-60deg);
	}
	100% {
		-webkit-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
}
@-moz-keyframes run-right {
	0% {
		-moz-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	25% {
		-moz-transform: rotatex(60deg);
		transform: rotatex(60deg);
	}
	50% {
		-moz-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	75% {
		-moz-transform: rotatex(-60deg);
		transform: rotatex(-60deg);
	}
	100% {
		-moz-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
}
@-ms-keyframes run-right {
	0% {
		-ms-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	25% {
		-ms-transform: rotatex(60deg);
		transform: rotatex(60deg);
	}
	50% {
		-ms-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	75% {
		-ms-transform: rotatex(-60deg);
		transform: rotatex(-60deg);
	}
	100% {
		-ms-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
}
@-o-keyframes run-right {
	0% {
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	25% {
		-o-transform: rotatex(60deg);
		transform: rotatex(60deg);
	}
	50% {
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	75% {
		-o-transform: rotatex(-60deg);
		transform: rotatex(-60deg);
	}
	100% {
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
}
@-webkit-keyframes run-right {
	0% {
		-webkit-transform: rotatex(0deg);
		-moz-transform: rotatex(0deg);
		-ms-transform: rotatex(0deg);
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	25% {
		-webkit-transform: rotatex(60deg);
		-moz-transform: rotatex(60deg);
		-ms-transform: rotatex(60deg);
		-o-transform: rotatex(60deg);
		transform: rotatex(60deg);
	}
	50% {
		-webkit-transform: rotatex(0deg);
		-moz-transform: rotatex(0deg);
		-ms-transform: rotatex(0deg);
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
	75% {
		-webkit-transform: rotatex(-60deg);
		-moz-transform: rotatex(-60deg);
		-ms-transform: rotatex(-60deg);
		-o-transform: rotatex(-60deg);
		transform: rotatex(-60deg);
	}
	100% {
		-webkit-transform: rotatex(0deg);
		-moz-transform: rotatex(0deg);
		-ms-transform: rotatex(0deg);
		-o-transform: rotatex(0deg);
		transform: rotatex(0deg);
	}
}
@-webkit-keyframes look {
	0% {
		-webkit-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
	25% {
		-webkit-transform: rotatex(0deg) rotatey(60deg);
		transform: rotatex(0deg) rotatey(60deg);
	}
	50% {
		-webkit-transform: rotatex(20deg) rotatey(0deg);
		transform: rotatex(20deg) rotatey(0deg);
	}
	75% {
		-webkit-transform: rotatex(0deg) rotatey(-60deg);
		transform: rotatex(0deg) rotatey(-60deg);
	}
	100% {
		-webkit-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
}
@-moz-keyframes look {
	0% {
		-moz-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
	25% {
		-moz-transform: rotatex(0deg) rotatey(60deg);
		transform: rotatex(0deg) rotatey(60deg);
	}
	50% {
		-moz-transform: rotatex(20deg) rotatey(0deg);
		transform: rotatex(20deg) rotatey(0deg);
	}
	75% {
		-moz-transform: rotatex(0deg) rotatey(-60deg);
		transform: rotatex(0deg) rotatey(-60deg);
	}
	100% {
		-moz-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
}
@-ms-keyframes look {
	0% {
		-ms-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
	25% {
		-ms-transform: rotatex(0deg) rotatey(60deg);
		transform: rotatex(0deg) rotatey(60deg);
	}
	50% {
		-ms-transform: rotatex(20deg) rotatey(0deg);
		transform: rotatex(20deg) rotatey(0deg);
	}
	75% {
		-ms-transform: rotatex(0deg) rotatey(-60deg);
		transform: rotatex(0deg) rotatey(-60deg);
	}
	100% {
		-ms-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
}
@-o-keyframes look {
	0% {
		-o-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
	25% {
		-o-transform: rotatex(0deg) rotatey(60deg);
		transform: rotatex(0deg) rotatey(60deg);
	}
	50% {
		-o-transform: rotatex(20deg) rotatey(0deg);
		transform: rotatex(20deg) rotatey(0deg);
	}
	75% {
		-o-transform: rotatex(0deg) rotatey(-60deg);
		transform: rotatex(0deg) rotatey(-60deg);
	}
	100% {
		-o-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
}
@keyframes look {
	0% {
		-webkit-transform: rotatex(-20deg) rotatey(0deg);
		-moz-transform: rotatex(-20deg) rotatey(0deg);
		-ms-transform: rotatex(-20deg) rotatey(0deg);
		-o-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
	25% {
		-webkit-transform: rotatex(0deg) rotatey(60deg);
		-moz-transform: rotatex(0deg) rotatey(60deg);
		-ms-transform: rotatex(0deg) rotatey(60deg);
		-o-transform: rotatex(0deg) rotatey(60deg);
		transform: rotatex(0deg) rotatey(60deg);
	}
	50% {
		-webkit-transform: rotatex(20deg) rotatey(0deg);
		-moz-transform: rotatex(20deg) rotatey(0deg);
		-ms-transform: rotatex(20deg) rotatey(0deg);
		-o-transform: rotatex(20deg) rotatey(0deg);
		transform: rotatex(20deg) rotatey(0deg);
	}
	75% {
		-webkit-transform: rotatex(0deg) rotatey(-60deg);
		-moz-transform: rotatex(0deg) rotatey(-60deg);
		-ms-transform: rotatex(0deg) rotatey(-60deg);
		-o-transform: rotatex(0deg) rotatey(-60deg);
		transform: rotatex(0deg) rotatey(-60deg);
	}
	100% {
		-webkit-transform: rotatex(-20deg) rotatey(0deg);
		-moz-transform: rotatex(-20deg) rotatey(0deg);
		-ms-transform: rotatex(-20deg) rotatey(0deg);
		-o-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
}
/*@keyframes derp {
	0% {
		-webkit-transform: rotatex(-20deg) rotatey(0deg);
		-moz-transform: rotatex(-20deg) rotatey(0deg);
		-ms-transform: rotatex(-20deg) rotatey(0deg);
		-o-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
	25% {
		-webkit-transform: rotatex(0deg) rotatey(60deg);
		-moz-transform: rotatex(0deg) rotatey(60deg);
		-ms-transform: rotatex(0deg) rotatey(60deg);
		-o-transform: rotatex(0deg) rotatey(60deg);
		transform: rotatex(0deg) rotatey(60deg);
	}
	50% {
		-webkit-transform: rotatex(20deg) rotatey(0deg);
		-moz-transform: rotatex(20deg) rotatey(0deg);
		-ms-transform: rotatex(20deg) rotatey(0deg);
		-o-transform: rotatex(20deg) rotatey(0deg);
		transform: rotatex(20deg) rotatey(0deg);
	}
	75% {
		-webkit-transform: rotatex(0deg) rotatey(-60deg);
		-moz-transform: rotatex(0deg) rotatey(-60deg);
		-ms-transform: rotatex(0deg) rotatey(-60deg);
		-o-transform: rotatex(0deg) rotatey(-60deg);
		transform: rotatex(0deg) rotatey(-60deg);
	}
	100% {
		-webkit-transform: rotatex(-20deg) rotatey(0deg);
		-moz-transform: rotatex(-20deg) rotatey(0deg);
		-ms-transform: rotatex(-20deg) rotatey(0deg);
		-o-transform: rotatex(-20deg) rotatey(0deg);
		transform: rotatex(-20deg) rotatey(0deg);
	}
}*/

.steve {
	float: left;
	width: 40px;
	height: 160px;
	margin: 15px 30px;
}
.steve.rotatex {
	-webkit-animation: rotatex linear infinite 5s;
	-moz-animation: rotatex linear infinite 5s;
	-ms-animation: rotatex linear infinite 5s;
	-o-animation: rotatex linear infinite 5s;
	animation: rotatex linear infinite 5s;
}
.steve.rotatey {
	-webkit-animation: rotatey linear infinite 5s;
	-moz-animation: rotatey linear infinite 5s;
	-ms-animation: rotatey linear infinite 5s;
	-o-animation: rotatey linear infinite 5s;
	animation: rotatey linear infinite 5s;
}
.steve.rotatexy {
	-webkit-animation: rotatexy linear infinite 5s;
	-moz-animation: rotatexy linear infinite 5s;
	-ms-animation: rotatexy linear infinite 5s;
	-o-animation: rotatexy linear infinite 5s;
	animation: rotatexy linear infinite 5s;
}
.steve.run .left-arm,
.steve.run .right-leg {
	-webkit-animation: run-left linear infinite 1s;
	-moz-animation: run-left linear infinite 1s;
	-ms-animation: run-left linear infinite 1s;
	-o-animation: run-left linear infinite 1s;
	animation: run-left linear infinite 1s;
}
.steve.run .right-arm,
.steve.run .left-leg {
	-webkit-animation: run-right linear infinite 1s;
	-moz-animation: run-right linear infinite 1s;
	-ms-animation: run-right linear infinite 1s;
	-o-animation: run-right linear infinite 1s;
	animation: run-right linear infinite 1s;
}
.steve.look .head {
	-webkit-animation: look linear infinite 6s;
	-moz-animation: look linear infinite 6s;
	-ms-animation: look linear infinite 6s;
	-o-animation: look linear infinite 6s;
	animation: look linear infinite 6s;
}
.head,
.torso,
.arm,
.leg {
	position: relative;
}
.head div,
.torso div,
.arm div,
.leg div {
	position: absolute;
	background-image: url(https://minotar.net/skin/char);
	background-repeat: no-repeat;
	-webkit-background-size: 320px 160px;
	-moz-background-size: 320px 160px;
	-ms-background-size: 320px 160px;
	-o-background-size: 320px 160px;
	background-size: 320px 160px;
}
.notch .head div,
.notch .torso div,
.notch .arm div,
.notch .leg div {
	background-image: url(https://minotar.net/skin/notch);
}
.wupper .head div,
.wupper .torso div,
.wupper .arm div,
.wupper .leg div {
	background-image: url(https://minotar.net/skin/wupper800);
}
.anitoshka .head div,
.anitoshka .torso div,
.anitoshka .arm div,
.anitoshka .leg div {
	background-image: url(https://minotar.net/skin/Anitoshka);
}

.head div {
	width: 40px;
	height: 40px;
}
.head .head-left {
	left: -20px;
	background-position: 0 -40px;

	-webkit-transform: rotatey(-90deg);
	-moz-transform: rotatey(-90deg);
	-ms-transform: rotatey(-90deg);
	-o-transform: rotatey(-90deg);
	transform: rotatey(-90deg);
}
.head .head-front {
	background-position: -40px -40px;

	-webkit-transform: translateZ(20px);
	-moz-transform: translateZ(20px);
	-ms-transform: translateZ(20px);
	-o-transform: translateZ(20px);
	transform: translateZ(20px);
}
.head .head-right {
	left: 20px;
	background-position: -80px -40px;

	-webkit-transform: rotatey(90deg);
	-moz-transform: rotatey(90deg);
	-ms-transform: rotatey(90deg);
	-o-transform: rotatey(90deg);
	transform: rotatey(90deg);
}
.head .head-back {
	background-position: -120px -40px;

	-webkit-transform: rotatey(180deg) translateZ(20px);
	-moz-transform: rotatey(180deg) translateZ(20px);
	-ms-transform: rotatey(180deg) translateZ(20px);
	-o-transform: rotatey(180deg) translateZ(20px);
	transform: rotatey(180deg) translateZ(20px);
}
.head .head-top {
	top: -20px;
	background-position: -40px 0;

	-webkit-transform: rotatex(90deg);
	-moz-transform: rotatex(90deg);
	-ms-transform: rotatex(90deg);
	-o-transform: rotatex(90deg);
	transform: rotatex(90deg);
}
.head .head-bottom {
	top: 20px;
	background-position: -80px 0;

	-webkit-transform: rotatex(-90deg);
	-moz-transform: rotatex(-90deg);
	-ms-transform: rotatex(-90deg);
	-o-transform: rotatex(-90deg);
	transform: rotatex(-90deg);
}

.torso {
	top: 40px;
}
.torso div {
	width: 20px;
	height: 80px;
}
.torso .torso-left {
	left: -10px;
	background-position: -80px -100px;

	-webkit-transform: rotatey(-90deg);
	-moz-transform: rotatey(-90deg);
	-ms-transform: rotatey(-90deg);
	-o-transform: rotatey(-90deg);
	transform: rotatey(-90deg);
}
.torso .torso-front {
	background-position: -100px -100px;
	width: 40px;

	-webkit-transform: translateZ(10px);
	-moz-transform: translateZ(10px);
	-ms-transform: translateZ(10px);
	-o-transform: translateZ(10px);
	transform: translateZ(10px);
}
.torso .torso-right {
	left: 30px;
	background-position: -140px -100px;

	-webkit-transform: rotatey(90deg);
	-moz-transform: rotatey(90deg);
	-ms-transform: rotatey(90deg);
	-o-transform: rotatey(90deg);
	transform: rotatey(90deg);
}
.torso .torso-back {
	background-position: -160px -100px;
	width: 40px;

	-webkit-transform: rotatey(180deg) translateZ(10px);
	-moz-transform: rotatey(180deg) translateZ(10px);
	-ms-transform: rotatey(180deg) translateZ(10px);
	-o-transform: rotatey(180deg) translateZ(10px);
	transform: rotatey(180deg) translateZ(10px);
}
.torso .torso-top {
	top: -10px;
	background-position: -100px -80px;
	width: 40px;
	height: 20px;

	-webkit-transform: rotatex(90deg);
	-moz-transform: rotatex(90deg);
	-ms-transform: rotatex(90deg);
	-o-transform: rotatex(90deg);
	transform: rotatex(90deg);
}
.torso .torso-bottom {
	top: 50px;
	background-position: -140px -80px;
	width: 40px;
	height: 20px;

	-webkit-transform: rotatex(-90deg);
	-moz-transform: rotatex(-90deg);
	-ms-transform: rotatex(-90deg);
	-o-transform: rotatex(-90deg);
	transform: rotatex(-90deg);
}

.arm {
	top: 40px;
}
.arm div {
	width: 20px;
	height: 80px;
}
.left-arm {
	left: -20px;
}
.right-arm {
	left: 40px;
}
.arm .arm-left {
	left: -10px;
	background-position: -200px -100px;

	-webkit-transform: rotatey(-90deg);
	-moz-transform: rotatey(-90deg);
	-ms-transform: rotatey(-90deg);
	-o-transform: rotatey(-90deg);
	transform: rotatey(-90deg);
}
.arm .arm-front {
	background-position: -220px -100px;

	-webkit-transform: translateZ(10px);
	-moz-transform: translateZ(10px);
	-ms-transform: translateZ(10px);
	-o-transform: translateZ(10px);
	transform: translateZ(10px);
}
.arm .arm-right {
	left: 10px;
	background-position: -240px -100px;

	-webkit-transform: rotatey(90deg);
	-moz-transform: rotatey(90deg);
	-ms-transform: rotatey(90deg);
	-o-transform: rotatey(90deg);
	transform: rotatey(90deg);
}
.arm .arm-back {
	background-position: -260px -100px;

	-webkit-transform: rotatey(180deg) translateZ(10px);
	-moz-transform: rotatey(180deg) translateZ(10px);
	-ms-transform: rotatey(180deg) translateZ(10px);
	-o-transform: rotatey(180deg) translateZ(10px);
	transform: rotatey(180deg) translateZ(10px);
}
.arm .arm-top {
	top: -10px;
	background-position: -220px -80px;
	height: 20px;

	-webkit-transform: rotatex(90deg);
	-moz-transform: rotatex(90deg);
	-ms-transform: rotatex(90deg);
	-o-transform: rotatex(90deg);
	transform: rotatex(90deg);
}
.arm .arm-bottom {
	top: 50px;
	background-position: -240px -80px;
	height: 20px;

	-webkit-transform: rotatex(-90deg);
	-moz-transform: rotatex(-90deg);
	-ms-transform: rotatex(-90deg);
	-o-transform: rotatex(-90deg);
	transform: rotatex(-90deg);
}

.leg {
	top: 100px;
}
.leg div {
	width: 20px;
	height: 80px;
}
.left-leg {
	left: 0;
}
.right-leg {
	left: 20px;
}
.leg .leg-left {
	left: -10px;
	background-position: 0 -100px;

	-webkit-transform: rotatey(-90deg);
	-moz-transform: rotatey(-90deg);
	-ms-transform: rotatey(-90deg);
	-o-transform: rotatey(-90deg);
	transform: rotatey(-90deg);
}
.leg .leg-front {
	background-position: -20px -100px;

	-webkit-transform: translateZ(10px);
	-moz-transform: translateZ(10px);
	-ms-transform: translateZ(10px);
	-o-transform: translateZ(10px);
	transform: translateZ(10px);
}
.leg .leg-right {
	left: 10px;
	background-position: -40px -100px;

	-webkit-transform: rotatey(90deg);
	-moz-transform: rotatey(90deg);
	-ms-transform: rotatey(90deg);
	-o-transform: rotatey(90deg);
	transform: rotatey(90deg);
}
.leg .leg-back {
	background-position: -60px -100px;

	-webkit-transform: rotatey(180deg) translateZ(10px);
	-moz-transform: rotatey(180deg) translateZ(10px);
	-ms-transform: rotatey(180deg) translateZ(10px);
	-o-transform: rotatey(180deg) translateZ(10px);
	transform: rotatey(180deg) translateZ(10px);
}
.leg .leg-top {
	top: -10px;
	background-position: -20px -80px;
	height: 20px;

	-webkit-transform: rotatex(90deg);
	-moz-transform: rotatex(90deg);
	-ms-transform: rotatex(90deg);
	-o-transform: rotatex(90deg);
	transform: rotatex(90deg);
}
.leg .leg-bottom {
	top: 50px;
	background-position: -40px -80px;
	height: 20px;

	-webkit-transform: rotatex(-90deg);
	-moz-transform: rotatex(-90deg);
	-ms-transform: rotatex(-90deg);
	-o-transform: rotatex(-90deg);
	transform: rotatex(-90deg);
}

button {
	display: inline-block;
	margin: 50px auto 0;
	padding: 4px;
	width: 110px;
}

/*
 * Original version: 1.0 © 2010 Andrew Valums ( andrew(at)valums.com )
 * Current Maintainer (2.0+): 2012, Ray Nicholus ( fineuploader(at)garstasio.com )
 *
 * Licensed under MIT license, GNU GPL 2 or later, GNU LGPL 2 or later, see license.txt.
 */
.qq-uploader {
    position: relative;
    width: 100%;
}
.qq-upload-button {
    display: block;
    /*or inline-block*/
    width: 105px;
    padding: 7px 0;
    text-align: center;
    background: #880000;
    border-bottom: 1px solid #DDD;
    color: #FFF;
}
.qq-upload-button-hover {
    background: #CC0000;
}
.qq-upload-button-focus {
    outline: 1px dotted #000000;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 30px;
    z-index: 2;
    background: #FF9797;
    text-align: center;
}
.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 16px;
}
.qq-upload-extra-drop-area {
    position: relative;
    margin-top: 50px;
    font-size: 16px;
    padding-top: 30px;
    height: 20px;
    min-height: 40px;
}
.qq-upload-drop-area-active {
    background: #FF7171;
}
.qq-upload-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.qq-upload-list li {
    margin: 0;
    padding: 9px;
    line-height: 15px;
    font-size: 16px;
    background-color: #FFF0BD;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-failed-text, .qq-upload-finished {
    margin-right: 12px;
}
.qq-upload-file {
}
.qq-upload-spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}
.qq-upload-finished {
    display:none;
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}
.qq-upload-retry {
    display: none;
    color: #000000;
}
.qq-upload-cancel {
	color: #000000;
}
.qq-upload-retryable .qq-upload-retry {
    display: inline;
}
.qq-upload-size, .qq-upload-cancel, .qq-upload-retry {
    font-size: 12px;
    font-weight: normal;
}
.qq-upload-failed-text {
    display: none;
    font-style: italic;
    font-weight: bold;
}
.qq-upload-failed-icon {
    display:none;
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}
.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}
.qq-upload-retrying .qq-upload-failed-text {
    display: inline;
    color: #D60000;
}
.qq-upload-list li.qq-upload-success {
    background-color: #5DA30C;
    color: #FFFFFF;
}
.qq-upload-list li.qq-upload-fail {
    background-color: #D60000;
    color: #FFFFFF;
}
.qq-progress-bar {
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
    width: 0%;
    height: 15px;
    border-radius: 6px;
    margin-bottom: 3px;
    display: none;
}
