@import "@unocss/reset/tailwind-compat.css";

::selection {
  background-color: theme("colors.primary.DEFAULT");
  background-color: color-mix(
    in oklab,
    theme("colors.primary.DEFAULT"),
    theme("colors.secondary.DEFAULT")
  );
  color: theme("colors.neutral.DEFAULT");
}

a,
button {
  @apply interactive rounded;
}

@layer tooltip {
  [data-tooltip][aria-label] {
    --tooltip-background: theme("colors.neutral.700");
    --tooltip-foreground: theme("colors.neutral.100");
    --tooltip-arrow-size: 0.5rem;
    position: relative;
  }
}
[data-tooltip][aria-label]::before {
  content: attr(aria-label);
  pointer-events: none;
  white-space: pre;
  position: absolute;
  background: var(--tooltip-background);
  color: var(--tooltip-foreground);
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: theme("borderRadius.DEFAULT");
  opacity: 0;
  visibility: none;
}
[data-tooltip][aria-label]::after {
  content: "";
  pointer-events: none;
  width: 0;
  height: 0;
  position: absolute;
  border-color: var(--tooltip-background);
  border-width: 0;
  border-style: solid;
  opacity: 0;
  visibility: none;
}
[data-tooltip^="up"][aria-label]::before {
  bottom: calc(var(--tooltip-arrow-size) + 100%);
  right: 50%;
  transform: translateX(50%);
}
[data-tooltip^="down"][aria-label]::before {
  top: calc(var(--tooltip-arrow-size) + 100%);
  right: 50%;
  transform: translateX(50%);
}
[data-tooltip^="left"][aria-label]::before {
  right: calc(calc(var(--tooltip-arrow-size) * 2) + 100%);
  bottom: 50%;
  transform: translateY(50%);
}
[data-tooltip^="right"][aria-label]::before {
  left: calc(calc(var(--tooltip-arrow-size) * 2) + 100%);
  bottom: 50%;
  transform: translateY(50%);
}
[data-tooltip^="up"][aria-label]::after {
  border-top-width: var(--tooltip-arrow-size);
  border-right-width: var(--tooltip-arrow-size);
  border-right-color: transparent;
  border-left-width: var(--tooltip-arrow-size);
  border-left-color: transparent;
  bottom: 100%;
  right: 50%;
  transform: translateX(50%);
}
[data-tooltip^="down"][aria-label]::after {
  border-bottom-width: var(--tooltip-arrow-size);
  border-right-width: var(--tooltip-arrow-size);
  border-right-color: transparent;
  border-left-width: var(--tooltip-arrow-size);
  border-left-color: transparent;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
}
[data-tooltip^="left"][aria-label]::after {
  border-left-width: var(--tooltip-arrow-size);
  border-top-width: var(--tooltip-arrow-size);
  border-top-color: transparent;
  border-bottom-width: var(--tooltip-arrow-size);
  border-bottom-color: transparent;
  bottom: 50%;
  right: calc(var(--tooltip-arrow-size) + 100%);
  transform: translateY(50%);
}
[data-tooltip^="right"][aria-label]::after {
  border-right-width: var(--tooltip-arrow-size);
  border-top-width: var(--tooltip-arrow-size);
  border-top-color: transparent;
  border-bottom-width: var(--tooltip-arrow-size);
  border-bottom-color: transparent;
  bottom: 50%;
  left: calc(var(--tooltip-arrow-size) + 100%);
  transform: translateY(50%);
}
[data-tooltip][aria-label]:hover::before,
[data-tooltip][aria-label]:hover::after {
  visibility: visible;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 150ms;
}
