@keyframes flash {
	0% {
		opacity: auto;
	}
	100% {
		opacity: .5;
	}
}
@keyframes scalein {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes scale {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(.98);
	}
}
