* {
	box-sizing: border-box;
	outline-color: #fff;
}
::-moz-selection {
	background: #fff;
	color: #000;
}
::selection {
	background: #fff;
	color: #000;
}

html, body {
	min-height: 100vh;
}

html {
	background-color: $secondary_color;
	font-size: 1vw;
}
@media (max-width: 1280px) {
	html {
		font-size: 1.5vw;
	}
}
@media (max-height: 768px) {
	html {
		font-size: 2vh;
	}
}
@media (max-width: 768px) {
	html {
		font-size: 2vw;
	}
}

body {
	position: relative;
	margin: 0;
	color: $primary_color;
	font-size: 1.4rem;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-align: center;
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		min-height: 100vh;
	}
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all .2s ease-in-out;
	&:hover {
		opacity: .8;
	}
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 1.5rem;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.1;
}
h1 {
	font-size: 6.5rem;
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
h2 {
	font-size: 4rem;
	font-weight: 300;
}
h3 {
	font-size: 2.8rem;
}

input, textarea {
	outline: 0;
	color: #333;
}

.button, input[type=submit] {
	background: $secondary_color;
	padding: 15px 30px;
	border: 0;
	color: $primary_color;
	font-size: 2.4rem;
	text-decoration: none;
	cursor: pointer;
	transition: all .2s ease-in-out;
	&:hover {
		opacity: .8;
	}
	&:active {
		transform: scale(.9);
	}
}

section {
	padding: 5%;
}

.window {
	position: fixed;
	z-index: 500;
	background-color: $secondary_color;
	width: 100vw;
	height: 100vh;
	transition: $snappy_trans;
	text-align: left;
	overflow: hidden;
	&.window-top,
	&.window-bottom {
		left: 0;
		right: 0;
	}
	&.window-top {
		bottom: 100%;
		&.active {
			bottom: 0;
		}
	}
	&.window-bottom {
		top: 100%;
		&.active {
			top: 0;
		}
	}
	&.window-left,
	&.window-right {
		top: 0;
		bottom: 0;
	}
	&.window-left {
		right: 100%;
		&.active {
			right: 0;
		}
	}
	&.window-right {
		left: 100%;
		&.active {
			left: 0;
		}
	}

	.close {
		@extend .button;
		position: absolute;
		top: 1rem;
		right: 1rem;
		background-color: $primary_color;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		text-indent: -9999px;
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: .8rem;
			bottom: .8rem;
			left: 50%;
			margin-left: -.4rem;
			width: .8rem;
			background-color: $secondary_color;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}
