* {
	box-sizing: border-box;
	outline-color: #fff;
}
::-moz-selection {
	background: #fff;
	color: #000;
}
::selection {
	background: #fff;
	color: #000;
}

html, body {
	min-height: 100vh;
}

html {
	background-color: $secondary_color;
	font-size: 1vw;
}
@media (max-width: 1280px) {
	html {
		font-size: 1.5vw;
	}
}
@media (max-width: 768px) {
	html {
		font-size: 2vw;
	}
}

body {
	position: relative;
	margin: 0;
	color: $primary_color;
	font-size: 1.4rem;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		min-height: 100vh;
	}
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	transition: all .2s ease-in-out;
	&:hover {
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.1;
}
h1 {
	font-size: 6.5rem;
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
h2 {
	font-size: 4rem;
	font-weight: 300;
}
h3 {
	font-size: 2.8rem;
}

input, textarea {
	outline: 0;
	color: #333;
}

.button, input[type=submit] {
	background: $secondary_color;
	padding: 15px 30px;
	border: 0;
	color: $primary_color;
	color: rgba(0,0,0,.75);
	font-size: 2.4rem;
	box-shadow: $shadow;
	cursor: pointer;
	transition: all .2s ease-in-out;
	&:hover {
		opacity: .8;
	}
	&:active {
		transform: scale(.9);
	}
}
