.grid {
  display: flex;
  > div {
    flex-grow: 1;
  }
}
.grid-padded {
  > div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: $break_mid) {
  .grid {
    display: block;
  }
}
