$primary_color: #151515;
$secondary_color: #c0c0c0;

$primary_font: 'Open Sans', Helvetica, Arial, sans-serif;
$secondary_font: 'Oswald', Impact, Arial, sans-serif;

$break_max: 1280px;
$break_mid: 768px;
$break_min: 480px;

$snappy_trans: all .2s ease-in-out;
