$primary_color: #000;
$secondary_color: #fff;

$primary_font: 'Open Sans', Helvetica, Arial, sans-serif;
$secondary_font: 'Oswald', Impact, Arial, sans-serif;

$break_max: 1280px;
$break_mid: 768px;
$break_min: 480px;

$snappy_trans: all 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
