@import 'vars';
@import 'fonts';
@import 'animations';
@import 'grid';
@import 'core';

main {
	display: inline-block;
	vertical-align: middle;

	// Animation
	animation-name: fadein;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	.content {
		position: relative;
		color: $secondary_color;
		text-align: center;

		// Animation
		animation-name: scalein;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}
	h1, h2 {
		margin: .5rem 0;
	}
	h1 {
		margin-top: 0;
		font-size: 8.5rem;
		@media (max-width: 480px) {
			font-size: 6.6rem;
		}
	}
	h2 {
		font-size: 3.2rem;
		font-family: $primary_font;
		text-transform: none;
	}

	nav {
		font-size: 0;
		a {
			display: inline-block;
			vertical-align: top;
			background-color: $secondary_color;
			color: $primary_color;
			font-size: 1.4rem;
		}
	}

	.nav-social {
		margin-top: 1.2rem;
		a {
			margin-left: 1.2rem;
			width: 5rem;
			height: 5rem;
			font-size: 0;
			line-height: 5rem;
			text-align: center;
			border-radius: 50%;
			transform: scale(1);
			&:first-child {
				margin-left: 0;
			}
			&:hover {
				opacity: .9;
			}
			&:active {
				transform: scale(.95);
			}
			&:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				min-height: 5rem;
			}
			img {
				display: inline-block;
				vertical-align: middle;
				width: 60%;
			}
			&.social-github img {
				width: 70%;
			}
		}
	}

	.nav-main {
		margin-top: 1.6rem;
		text-align: center;
		a {
			margin-left: 1.5rem;
			padding: .5rem 1rem;
			font-size: 1.4rem;
			font-family: $secondary_font;
			text-transform: uppercase;
			font-weight: 700;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.boxes {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	font-size: 0;
}
.box {
	position: relative;
	display: inline-block;
	background-color: $primary_color;
	width: 10%;
	height: 10.05vh;
	transition: $snappy_trans;

	// Transform
	transform: scale(0);
	transform-style: preserve-3d;
	transform-origin: center;

	// Animation
	animation-name: scalein;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}
.finished .box {
	// Transform
	transform: scale(1);

	// Animation
	animation-name: none;
}
