@import 'animations';
@import 'vars';
@import 'core';

.kimmy {
	padding: 5%;
	.content {
		position: relative;
		color: $secondary_color;
		text-align: center;
	}
	h1, h2, .social {
		margin: 1% 0;
	}
	h1 {
		margin-top: 0;
		font-size: 9rem;
	}
	h2 {
		font-size: 3.5rem;
	}
	.social {
		margin-top: 2%;
		margin-bottom: 0;
		font-size: 0;
		a {
			display: inline-block;
			background-color: $secondary_color;
			margin-left: 20px;
			width: 60px;
			height: 60px;
			color: $primary_color;
			font-size: 40px;
			text-decoration: none;
			line-height: 60px;
			text-align: center;
			border-radius: 50%;
			&:first-child {
				margin-left: 0;
			}
			&:hover {
				opacity: .9;
			}
			&:active {
				transform: scale(.95);
				transform-style: preserve-3d;
			}
		}
	}
}

.flippers {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 0;
}
.flip {
	position: relative;
	display: inline-block;
	background-color: $primary_color;
	width: 10%;
	height: 10.05vh;
	transition: all .2s ease-out;

	// Transform
	transform: scale(0);
	transform-style: preserve-3d;
	transform-origin: center;

	// Animation
	animation-name: scalein;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}
.finished .flip {
	// Transform
	transform: scale(1);

	// Animation
	animation-name: scale;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;

	// Repeat animation
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
