@import 'normalize';
@import 'animations';
@import 'core';

.earth {
	background-image: url('../images/earth.jpg');
	.content {
		position: absolute;
		left: 80px;
		bottom: 100px;
		z-index: 100;
		margin-left: 0;
		h1 {
			font-size: 9rem;
		}
		h2 {
			font-size: 3rem;
		}
	}
	@media (max-width: 900px) {
		.content {
			bottom: auto;
			h1 {
				font-size: 6.8rem;
			}
		}
	}
	&.visible .content {
		h1 {
			animation: title 1.5s ease-in-out;
		}
		h2 {
			animation: subtitle 2s ease-in-out;
		}
	}
}

.forest {
	background-image: url('../images/forest.jpg');
	.content {
		top: 250px;
		width: 80%;
		text-align: center;
		font-size: 0;
		h2 {
			font-size: 3rem;
		}
		h3 {
			margin-bottom: 16px;
			font-size: 2rem;
			white-space: nowrap;
			white-space-collapsing: discard;
		}
		header {
			margin-bottom: 40px;
		}
		#abilities, #specialties {
			position: relative;
			box-sizing: border-box;
			display: inline-block;
			background-color: rgba(0,0,0,.5);
			padding: 20px;
			width: 47%;
			transition: all .2s ease-in-out;
		}
		#abilities {
			margin-right: 6%;
		}
		.scroll-toggle {
			display: none;
			position: absolute;
			top: 50%;
			left: 100%;
			z-index: 75;
			@extend .button;
			margin: -30px 0 0 -30px;
			padding: 0;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			text-indent: -9999px;
			&:before, &:after {
				content: '';
				position: absolute;
				top: 15px;
				left: 15px;
				z-index: 80;
				width: 0;
				height: 0;
				border: 15px solid transparent;
			}
			&:before {
				border-left: 15px solid rgba(0,0,0,.8);
			}
			&:after {
				border-right: 15px solid rgba(0,0,0,.8);
			}
		}
	}
	@media (max-width: 1200px) and (min-width: 900px) {
		.content {
			top: 150px;
			.col {
				width: 100%;
			}
		}
	}
	@media (min-width: 900px) {
		&.visible {
			#abilities {
				animation: slideinleft 1.5s ease-out;
			}
			#specialties {
				animation: slideinright 1.5s ease-out;
			}
		}
	}
	@media (max-width: 900px) {
		.content {
			white-space: nowrap;
			white-space-collapsing: discard;
			#abilities, #specialties {
				margin: 0;
				width: 100%;
			}
			.scroll-toggle {
				display: block;
			}
		}
	}
}

.fan {
	background-image: url('../images/fan.jpg');
	.content {
		top: 100px;
		width: 80%;
		text-align: center;
		h2 {
			font-size: 3rem;
		}
		header {
			margin-bottom: 20px;
		}
		ul,
		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		.portfolio {
			text-align: center;
			font-size: 0;
			li {
				display: inline-block;
				vertical-align: top;
				width: 300px;
				padding: 10px;
			}
			a {
				display: block;
			}
			img {
				display: block;
			}
		}
	}
	@media (max-width: 800px), (max-height: 750px) {
		.content .portfolio {
			li {
				width: 25%;
			}
		}
	}
	@media (max-width: 800px) {
		.content {
			top: 10%;
		}
		.content .portfolio {
			li {
				width: 50%;
			}
		}
	}
	&.visible {
		header {
			animation: titletop 1.5s ease-in-out;
		}
		.portfolio li {
			animation: rotatein 1.5s ease-in-out;
			&:nth-child(even) {
				animation: rotateinalt 1.5s ease-in-out;
			}
		}
	}
}

.clouds {
	background-image: url('../images/clouds.jpg');
	.content {
		top: 100px;
		left: 20%;
		right: 20%;
		h2 {
			font-size: 2rem;
		}
		form {
			margin-top: 30px;
			text-align: center;
			.field-wrap {
				margin: 20px 0;
				.screen-reader-text {
					position: absolute;
					text-indent: -9999px;
				}
				input, textarea {
					opacity: .8;
					transition: all .2s ease-in-out;
					&:active, &:focus {
						opacity: 1;
					}
				}
				input[type=text], input[type=email], textarea {
					padding: 10px;
					border: 1px solid rgba(0,0,0,.25);
					width: 100%;
					font-size: 2.4rem;
					box-sizing: border-box;
				}
				input[type=submit] {
					display: inline-block;
					&:hover {
						opacity: 1;
					}
				}
				.fname, .email, .submit {
					animation: float 20s ease-in-out infinite alternate;
				}
				.lname, .mssge {
					animation: floatalt 20s ease-in-out infinite alternate;
				}
				.error,
				.good-to-go {
					background: rgba(255,75,75,.75);
					color: #fff;
					&::-webkit-input-placeholder {
						color: rgba(255,255,255,.6);
					}
				}
				.good-to-go {
					background: rgba(75,255,75,.75);
				}
				@media (max-width: 900px), (max-height: 800px) {
					input[type=text], input[type=email], textarea {
						padding: 5px;
						font-size: 1.8rem;
					}
				}
			}
			.alert {
				display: inline-block;
				background: rgba(0,0,0,.5);
				padding: 3px 10px;
				border-radius: 50px;
			}
		}
	}
	&.visible {
		h1 {
			animation: title 1.2s ease-in-out;
		}
		h2 {
			animation: title 1.2s ease-in-out;
		}
	}
}
@media (max-width: 900px) {
	body > section .content {
		top: 5%;
	}
}

.bottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
	background: linear-gradient(0deg, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 75%);
	padding: 3px 10px;
	font-size: 1.2rem;
	text-align: center;
	span {
		display: inline-block;
		margin: 0 10px;
		opacity: .8;
	}
	a {
		text-decoration: none;
	}
}
